<appSettings>
	<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="webpages:Version" value="1.0.0.0" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="TaskShutDown" value="false"/>
	<!--任务是否停止 用于下线发布-->
	<add key="OwnSiteUrl" value="http://localhost:41172/"/>
	<add key="YingTaoUrl" value="http://yingtao.co.uk"/>
	<add key="InfoFilterKeys" value="操,王八,十八大"/>
</appSettings>